    <section class="register py-3 flex justify-center">
        <div class="container flex flex-col  bg-white rounded-lg w-1/2">
        <div class="flex items-center justify-center ">
        <div class="flex items-center xl:p-10">
        <form action="/register" method="POST" class="flex flex-col text-center bg-white rounded-3xl">
            <h3 class="mb-3 text-4xl font-extrabold text-dark-gray-900">Create Account</h3>
            <% if(messages.error) { %>
            <span class="text-red-500 text-sm"><%= messages.error %></span>
            <% } %>
            <label for="name" class="mb-2 text-sm text-start text-gray-900">
                Name
            </label>
            <input 
                name="name" value="<%= messages.name %>"
                id="name" type="text" placeholder="Full Name" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-gray-200 mb-7 placeholder:text-gray-700 bg-gray-100 text-dark-gray-900 rounded-2xl"/>
            <label for="email" class="mb-2 text-sm text-start text-gray-900">
                Email
            </label>
            <input 
                name="email" value="<%= messages.email %>"
                id="email" type="email" placeholder="hello@gmail.com" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-gray-200 mb-7 placeholder:text-gray-700 bg-gray-100 text-dark-gray-900 rounded-2xl"/>
            <label for="password" class="mb-2 text-sm text-start text-gray-900">
                Password
            </label>
            <input 
                name="password"
                id="password" type="password" placeholder="Enter a password" class="flex items-center w-full px-5 py-4 mb-5 mr-2 text-sm font-medium outline-none focus:bg-gray-200 placeholder:text-gray-700 bg-gray-100 text-dark-gray-900 rounded-2xl"/>
            <button 
                class="btn-primary rounded-full w-full px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl focus:ring-4 focus:ring-purple-blue-100" 
                type="submit">
                Register
            </button>
            
            <div class="flex items-center mb-3 mt-3">
                <hr class="h-0 border-b border-solid border-gray-500 grow">
                <p class="mx-4 text-gray-600">or</p>
                <hr class="h-0 border-b border-solid border-gray-500 grow">
            </div>

            <a class="flex items-center justify-center w-full py-4 mt-6 mb-6 text-sm font-medium transition duration-300 rounded-2xl text-gray-900 bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:ring-gray-300">
                <img class="h-5 mr-2" src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/logos/logo-google.png" alt="">
                Sign in with Google
            </a>
            <p class="text-sm leading-relaxed text-gray-900">Already have account? <a href="/login" class="font-bold create">Sign In</a></p>
        </form>
        </div>
        </div>
    </div>
        </div>
        <div class="flex flex-wrap -mx-3 my-5">
        </div>
</section>
